body {
  font-family: 'Arial, sans-serif';
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Fondo blanco */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px 0;
  cursor: pointer; /* Añadir cursor de puntero para el logo */
}

header img {
  max-width: 150px; /* Ajusta el tamaño del logo según sea necesario */
}

.main-content {
  display: flex;
}

nav#sidebar {
  width: 200px;
  background-color: #01C0B4; /* Color del recuadro del botón de "Bienvenid@" */
  padding: 20px;
  border-radius: 20px; /* Esquinas redondeadas */
}

nav#sidebar ul {
  list-style-type: none;
  padding: 0;
}

nav#sidebar ul li {
  margin: 20px 0; /* Espacio entre elementos del menú */
}

nav#sidebar ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold; /* Letras en negrita */
}

main {
  flex: 1;
  padding: 20px;
}

h1, h2, p, label, input, button {
  font-family: 'Arial, sans-serif'; /* Unificar estilos de letra */
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

p {
  font-size: 1.25rem;
  color: #666;
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(1, 192, 180, 0.5); /* Color con mayor transparencia */
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 0.8rem;
}

/* Estilos para los botones */
.welcome-button {
  background-color: #01C0B4;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0; /* Espacio entre botones */
  cursor: pointer;
  border: none;
  border-radius: 20px; /* Añadir bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave para hover */
}

.welcome-button:hover {
  background-color: #019a90; /* Color más oscuro para el hover */
}

/* Estilos para el formulario de registro */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

form label {
  margin: 10px 0 5px 0;
}

form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Arial, sans-serif'; /* Unificar estilos de letra */
}

form button {
  background-color: #01C0B4;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Arial, sans-serif'; /* Unificar estilos de letra */
}

form button:hover {
  background-color: #019a90;
}

/* Estilos para el mensaje de registro */
#registration-message {
  margin-bottom: 15px;
  font-size: 1rem;
  color: red;
}

/* Estilos para la pantalla de inicio */
#home-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}


