body {
  font-family: 'Arial, sans-serif';
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  padding: 20px 0;
}

header img {
  max-width: 150px;
}

main {
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

p {
  font-size: 1.25rem;
  color: #666;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

/* Estilos para el bot칩n de bienvenida */
.welcome-button {
  background-color: #01C0B4;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 20px; /* A침adir bordes redondeados */
  transition: background-color 0.3s ease; /* Transici칩n suave para hover */
}

.welcome-button:hover {
  background-color: #019a90; /* Color m치s oscuro para el hover */
}


